<template>
	<view class="nothing u_f_ajc animate__animated animate__fadeIn">
		<image src="../../static/common/nothing.png" mode="widthFix"></image>
	</view>
</template>

<script>
	export default {
		
	}
</script>

<style  lang="less">
	.nothing {
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		image {
			width: 50%;
		}
	}
</style>
