<template>
	<view class="body">
		<input type="text" v-model="email"
		class="uni-input common_input" 
		placeholder="输入需要绑定的邮箱"/>
		<input type="text"  v-model="password"
		class="uni-input common_input"  password
		placeholder="请输入密码"/>
		<button class="user_set_btn" :class="{'user_set_btn_disable': disabled}" 
		type="primary" @tap="submit" :disabled="disabled" :loading="loading">完成</button>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				email: '',
				password: '',
				loading: false,
				disabled: true,
			}
		},
		watch: {
			email(val) {
				this.change()
			},
			password(val) {
				this.change()
			},	
		},
		methods: {
			// 监听输入框
			change() {
				if(this.email && this.password) {
					this.disabled = false
					return
				}
				this.disabled = true
			},
			// 验证
			check() {
				if(!this.email) {
					uni.showToast({
						title: '邮箱不能为空',
						icon:'none'
					})
					return false;
				}
				// 邮箱格式验证
				let ePattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
				if(!ePattern.test(this.email)) {
					uni.showToast({
						title: '请输入正确的邮箱格式',
						icon:'none'
					})
					return;
				}
				if(!this.password) {
					uni.showToast({
						title: '密码不能为空',
						icon:'none'
					})
					return false;
				}
				return true;
			},
			// 提交
			submit() {
				this.loading = true
				this.disabled = true
				if(!this.check()) {
					this.loading = false
					this.disabled = false
					return;
				}
				uni.showToast({
					title: '提交服务器',
					mask:false
				})
				this.loading = false
				this.disabled = false
			}
		}
	}
</script>

<style lang="less">
	@import '@/common/form.css';
</style>
