.user_set_btn {
	width: 100%;
	margin: 20upx 0;
	background: #ffe933!important;
	border: 0!important;
	color: #333!important;
}
.user_set_btn_disable{
	background: #f4f4f4!important;
	border: 1upx solid #eee!important;
	color: #909090!important;
}
.body{
		padding: 0 20upx!important;
		
}
.common_input {
	font-size: 30upx;
	border-bottom: 1upx solid #f4f4f4;
}